body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffafc;
  color: #333;
  text-align: center;
}

header {
  background-color: #f3d1e0;
  padding: 40px 20px;
  border-bottom: 2px solid #ffb6c1;
}

h1 {
  margin-bottom: 10px;
}

section {
  padding: 40px 20px;
}

.antes-depois .imagens {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

img {
  border-radius: 10px;
  border: 2px solid #ffb6c1;
}

button {
  background-color: #ff7fa2;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff5585;
  transition: 0.3s;
}

footer {
  background-color: #f3d1e0;
  padding: 15px;
  font-size: 14px;
  border-top: 2px solid #ffb6c1;
}